<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Alham - Movie Watch List{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png')}}" />
    {% block head %}{% endblock %}
  </head>



  <body>
    <div class="base_container">
      <header id="base_header_">
        <ul id="header_ul">
          <li id="base_header_ul_li_home"><a href="/">Home</a></li>
          <li id="base_header_ul_li_add"><a href="/add">Add a Movie</a></li>
          <li id="base_header_ul_li_update"> <a href="/#search_query">Search</a> </li>
          <!-- <a id="log_out_button" href="#" class="logout-btn" >Log Out</a> -->
          <li id="base_header_ul_li_logout">
          <form method="post" action="/log_out">
            <button type="submit" id="log_out">LOG OUT</button>
            <input type="text" name="log_out" value="true" hidden />
          </form>
          </li>
        </ul>
      </header>
    </div>

    <main>{% block body %}{% endblock %}</main>

    <footer>
      <p></p>
      <!-- <p>ALHAM Movie Watchlist &copy; 2024 My Website</p> -->
    </footer>
  </body>
</html>
