header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

#header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header-ul li {
  display: inline;
  margin-right: 20px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4ec9b0;
}

#header-ul li a {
  color: #4ec9b0;
  text-decoration: none;
}

h1 {
  text-align: center;
}

#log-out {
  float: right;
  padding: 8px 20px;
  background-color: #4fc9b1;
  border: none;
  color: #fff;
  cursor: pointer;

  /* margin-bottom: 10px; */
}

#base-header-ul-li-logout {
  float: right;
  padding-right: 20px;
  margin-left: auto;
  color: #4ec9b0;
  text-decoration: none;
}

#base-header-ul-li-logout:hover {
  color: #378a79;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 #0003;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.to-capitalize {
  text-transform: capitalize;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

input[type="text"] {
  color: #4ec9b0;
  padding: 8px;
  width: 200px;
  margin-right: 10px;
}

main {
  padding: 20px;
  text-align: center;
}

form input[type="text"] {
  padding: 8px;
  width: 200px;
  margin-right: 10px;
}

form button[type="submit"] {
  padding: 8px 20px;
  background-color: #4fc9b1;
  border: none;
  color: #fff;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #317e6f;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  border: none;
}

table th {
  color: #4ec9b0;
  padding: 8px;
  text-align: center;
}

table tr {
  border-bottom: 1px solid #ffffff17;
}

table tr:last-child {
  border-bottom: none;
}

#index-td-movie {
  text-align: left;
}

#index-td-dropdown {
  padding-left: none;
}

.label-pic {
  width: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  margin-right: 2px;
  width: 25px;
  padding: 5px;
}

#th-tv:hover {
  color: #317e6f;
  cursor: pointer;
}

#th-year:hover {
  color: #317e6f;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
