{% extends 'base.html' %}  <!-- ignore -->
{% block title %}Alham - Add{% endblock %}  <!-- ignore -->
 {% block head %}  <!-- ignore -->

<style>
  th input[type="checkbox"] {
    width: 40px;
    height: 40px;
  }
  
  input[type="checkbox"]{
    width: 20px;
    height: 20px;
  }

  input[type="number"] {
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 45%;
    font-weight: bold;
    font-size: large;
  }

  input[type="text"] {
    font-size: large;
    color: #2b6961;
    font-weight: bold;
    padding: 8px 20px;
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input[type="submit"] {
    padding: 8px 20px;
    background-color: #4ec9b0;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a396;
  }

  #status-div {
    width: 10px;
    float: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .status {
    margin-bottom: 10px;
  }

  #hint {
    color: #327c74;
  }

  #upcoming {
    float: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>
{% endblock %} {% block body %}

<h1>Add Movie</h1>

<table>
  <tr>
    <th id="movie">Movie Name</th>
    <th id="year">Year</th>
    <th id="tv">TV-Series</th>
  </tr>
  <form method="GET" action="/add/data">
    <tr>
      <th> <input id="td-movie" type="text" name="movie_name" placeholder="Movie Name..." required autofocus /> </th>
      <th> <input type="number" name="year" placeholder="Year..." min="0000" max="2030" pattern="0000|18\d{2}|19\d{2}|20[0-2]\d|2030" required /> </th>
      <th> <input id="td-series" type="checkbox" name="tv_series" value="true" /> </th>
    </tr>

    <tr id="upcoming" style="display: none;">
      <td colspan="3" style="display: grid; grid-template-columns: 1fr auto 1fr; grid-gap: 2px "> 
        <input id="upcoming-checkbox" type="checkbox" name="upcoming" value="true">
        <label for="upcoming-checkbox">Upcoming releases</label>
      </td>
    </tr>

    <tr>
      <td colspan="3 ">
      <label for="upcoming-notes">Notes</label>
      <textarea name="upcoming_notes" id="upcoming-notes" cols="30" rows="3" title="Details about movie/series such as downloaded series/years."></textarea>
      </td>
    </tr>

    <tr>
      <td colspan="3" id="hint">Enter `0000` if don't know the year.</td>
    </tr>
    <tr>
      <div id="status-div" class="status-div">
        <td colspan="3">
          <input class="status" id="td-watched" type="checkbox" name="watched" value="true" />
          <label class="status" for="td-watched">Watched</label>
          <input class="status" id="td-downloaded" type="checkbox" name="downloaded" value="true" />
          <label class="status" for="td-downloaded">Downloaded</label>
        </td>
      </div>
    </tr>
    <tr>
      <th colspan="3"><input type="submit" value="Add Movie" /></th>
    </tr>
  </form>
</table>
<br>
<br>
<br>

<img src="{{ url_for('static', filename="img/add.png") }}" alt="image">

<script>
  const series = document.getElementById('td-series');
  const upcoming_element = document.getElementById('upcoming');
  // const upcoming_label = document.getElementById('upcoming_label');

  series.addEventListener("change", function() {
    if (this.checked) {
      upcoming_element.style.display = "block";
      // upcoming_label.style.display = "block";
    } else {
      upcoming_element.style.display = "none";
    }
  })

</script>

{% endblock %}
