{% extends 'base.html' %} 
{% block title %}Alham  - Edit{% endblock %} 
{% block head %}
<style>
  input[type="checkbox"] {
    width: 40px;
    height: 40px;
  }

  input[type="number"] {
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 45%;
    font-weight: bold;
    font-size: large;
  }

  input[type="text"] {
    font-size: large;
    color: #2b6961;
    font-weight: bold;
    padding: 8px 20px;
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input[type="submit"] {
    padding: 8px 20px;
    background-color: #4ec9b0;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a396;
  }
</style>
{% endblock %} {% block body %}

<h1>Edit the Movie</h1>

<table>
  <tr>
    <th id="movie">Movie Name</th>
    <th id="year">Year</th>
    <th id="tv">TV-Series</th>
  </tr>
  <form method="GET" action="/edit/data/{{ movies.index }}">
    <tr>
      <td>
        <input id="td-movie" type="text" name="movie_name" value="{{ movies.movie.title() }}" required autofocus />
      </td>
      <td>
        <input type="number" name="year" value="{{ movies.year }}" min="1800" max="2030" required />
      </td>
      <td>
        <input type="checkbox" name="tv_series" {% if movies.series %}checked{% endif %} />
      </td>
      <input type="hidden" name="index" value="{{ movies.index }}" />
    </tr>
    <tr>
      <th colspan="3"><input type="submit" value="Edit Movie" /></th>
    </tr>
  </form>
</table>
<br />
<br />
<br />
<img src="{{ url_for('static', filename="img/edit.png") }}" alt="image"> 

{% endblock %}
