{% extends 'base.html' %} {% block title %}Alham - Home{% endblock %} {% block head %}
<style>
  

</style>

<script>
  let movies;
  let default_list;
  let current_list = [];
  let order = true;

  function process_movies(movies) {

    const showMoviesDiv = document.getElementById("show_movies");
    showMoviesDiv.innerHTML = "";
    let id = 0;

    for (let movie of movies) {
      id = ++id;

      movie.watched ? (label_w = `<img class="label_pic" alt="Watched" src="{{ url_for('static',filename='img/watched.png') }}" title="watched" >`): (label_w = "  ");
      movie.downloaded ? (label_d = `<img class="label_pic" alt="Downloaded" src="{{ url_for('static',filename='img/downloaded.png') }}" title="Downloaded" >`) : (label_d = "  ");

      showMoviesDiv.innerHTML += `<tr>
            <td id="index_td_id" class="to_capitalize" >${id}</td>
            <td id="index_td_movie" class="to_capitalize" >${movie.movie}</td>
            <td id="index_td_tv" >${label_w} ${label_d}</td>
            <td id="index_td_label" class="to_capitalize" >${movie.year == '0000' ? "-" : movie.year}</td>
            <td id="index_td_year" class="to_capitalize" >${movie.series ? "✓" : "✖️"}</td>
            <td id="index_td_dropdown">
                <div class="dropdown">
                    <button>•••</button>
                        <div class="dropdown-content">
                            <form action="/update" method="GET">
                                <a href="/edit/${movie.index}">Edit </a>
                                <input id="update_watched" type="checkbox" name="watched" value="true" ${movie.watched ? "checked" : ""} />
                                Watched
                                <br />
                                <input id="update_downloaded" type="checkbox" name="downloaded" value="true" ${movie.downloaded ? "checked" : ""} />
                                Downloaded
                                <br />
                                <button id="update_submit" type="submit" name="index" value="${movie.index}" >Done</button>
                            </form>
                        </div>
                </div>
            </td>
        </tr>`;
    }
    current_list = movies;
  }

  function watched_downloaded() {

    const downloaded = document.getElementById("downloaded");
    const watched = document.getElementById("watched");
    const download_checked = downloaded.checked;
    const watch_checked = watched.checked;
    let new_movie_list = [];

    if (watch_checked && download_checked) {
      for (let movie of movies) {
        if (movie.watched && movie.downloaded) {
          new_movie_list.push(movie);
          process_movies(new_movie_list);
        }
      }
    } else if (watch_checked) {
      for (let movie of movies) {
        if (movie.watched) {
          new_movie_list.push(movie);
          process_movies(new_movie_list);
        }
      }
    } else if (download_checked) {
      for (let movie of movies) {
        if (movie.downloaded) {
          new_movie_list.push(movie);
          process_movies(new_movie_list);
        }
      }
    } else {
      process_movies(default_list);
    }
  }

  function checkbox_all() {
    if (document.getElementById("all").checked) {
      document.getElementById("watched").disabled = true;
      document.getElementById("downloaded").disabled = true;

      process_movies(movies);
    } else {
      document.getElementById("watched").disabled = false;
      document.getElementById("downloaded").disabled = false;
      watched_downloaded();
    }
  }

  fetch("/movies")
    .then((response) => response.json())
    .then((data) => {
      movies = data;
      let new_movie_list = [];
      for (let movie of movies) {
        if (!movie.watched) {
          new_movie_list.push(movie);
        }
      }

      default_list = new_movie_list;
      process_movies(new_movie_list);
    })
    .catch((error) => console.log(error));
</script>

{% endblock %} {% block body %}
<h1>Movie Watch List</h1>

<form action="/search" method="get">
  <input type="text" name="query" id="search_query" placeholder="Search..." required autofocus/>
  <button type="submit" id="search_submit">Search</button>
</form>

<br />

<input type="checkbox" name="all" id="all" value="true" onclick="checkbox_all()"/>
<label for="all" id="label_all">Select All </label>
<input type="checkbox" name="watched" id="watched" value="true" onclick="watched_downloaded()"/>
<label for="watched" id="label_watched">Watched </label>
<input type="checkbox" name="downloaded" id="downloaded" value="true" onclick="watched_downloaded()"/>
<label for="downloaded" id="label_downloaded">Downloaded</label>
<br />

<table>
  <tr>
    <th id="th_id">#</th>
    <th id="th_movie">Movie</th>
    <th id="th_labels">Labels</th>
    <th id="th_year" title="Sort by Year" >Year</th>
    <th id="th_tv" title="Sort by whether TV-Series or Not TV-Series" >TV-Series</th>
  </tr>
  <tbody id="show_movies"></tbody>
</table>
<br />

<div class="container">
  <img src="{{ url_for('static',filename='img/watched.png')}}" alt="Image" />
  <span> - Watched Movies.</span>
</div>

<div class="container">
    <img src="{{ url_for('static',filename='img/downloaded.png')}}" alt="Image" />
  <span> - Downloaded Movies.</span>
</div>

<br>
<br>
<br>

<img src="{{ url_for('static', filename='img/index.png')}}" alt="image">

<script>

  const year = document.getElementById("th_year");
  const tv = document.getElementById("th_tv");

  year.addEventListener("click", function () {
    if (order) {
      current_list.sort((a, b) => a.year - b.year);
      order = false;
    } else {
      current_list.sort((a, b) => b.year - a.year);
      order = true;
    }
    process_movies(current_list);
  });

  tv.addEventListener("click", function () {
    if (order) {
      current_list.sort((a, b) => {
        if (a.series === b.series) {
          return 0;
        }
        return a.series ? -1 : 1;
      });
      order = false;
    } else {
      current_list.sort((a, b) => {
        if (a.series === b.series) {
          return 0;
        }
        return a.series ? 1 : -1;
      });
      order = true;
    }
    process_movies(current_list);
  });

</script>

{% endblock %}
