{% extends 'base.html' %}  <!-- type: ignore -->
{% block title %}Alham - Home{% endblock %}  <!-- type: ignore -->
{% block head %}  <!-- type: ignore -->
<script>
  let movies;
  let defaultList;
  let currentList = [];
  let order = true;

  function processMovies(movies) {
    const showMoviesDiv = document.getElementById("show-movies");
    showMoviesDiv.innerHTML = "";
    let id = 0;

    for (let movie of movies) {
      id = ++id;

      movie.watched ? (labelWatched = `<img class="label-pic" alt="Watched" src="{{ url_for('static',filename='img/watched.png') }}" title="watched" >`) : (labelWatched = "  ");
      movie.downloaded ? (labelDownloaded = `<img class="label-pic" alt="Downloaded" src="{{ url_for('static',filename='img/downloaded.png') }}" title="Downloaded" >`) : (labelDownloaded = "  ");

      showMoviesDiv.innerHTML += `<tr>
            <td id="index-td-id" class="to-capitalize " >${id}</td>
            <td id="index-td-movie" class="to-capitalize " title="${movie.upcoming_notes ? movie.upcoming_notes : ""}" >${movie.movie}</td>
            <td id="index-td-tv" >${labelWatched} ${labelDownloaded}</td>
            <td id="index-td-label" class="to-capitalize " >${movie.year == "0000" ? "-" : movie.year}${movie.future_release ? " -" : " "}</td>
            <td id="index-td-year" class="to-capitalize " >${movie.series ? "✓" : "✖️"}</td>
            <td id="index-td-dropdown">
                <div class="dropdown">
                    <button>•••</button>
                        <div class="dropdown-content">
                            <form action="/update" method="GET">
                                <a href="/edit/${movie.index}">Edit </a>
                                <input id="update-watched" type="checkbox" name="watched" value="true" ${movie.watched ? "checked" : ""} /> Watched <br />
                                <input id="update-downloaded" type="checkbox" name="downloaded" value="true" ${movie.downloaded ? "checked" : ""} /> Downloaded <br />
                                <input type="checkbox" name="future_release" value="true" ${movie.future_release ? "checked" : ""} /> Upcoming
                                <button id="update-submit" type="submit" name="index" value="${movie.index}" >Done</button>
                            </form>
                        </div>
                </div>
            </td>
        </tr>`;
    }
    currentList = movies;
  }

  function watchedDownloaded() {
    const downloaded = document.getElementById("downloaded");
    const watched = document.getElementById("watched");
    const futureRelease = document.getElementById("future-release");

    const downloadChecked = downloaded.checked;
    const watchChecked = watched.checked;
    // const futureReleaseChecked = futureRelease.checked = false;
    futureRelease.checked ? (futureReleaseChecked = true) : (futureReleaseChecked = false);

    let newMovieList = [];

    if (watchChecked && downloadChecked) {
      for (let movie of movies) {
        if (movie.downloaded && movie.watched) {
          if (futureReleaseChecked) { newMovieList.push(movie); processMovies(newMovieList);
          } else if (movie.future_release) {
            continue;
          } else {
            newMovieList.push(movie);
            processMovies(newMovieList);
          }
        }
      }
    } else if (watchChecked) {
      for (let movie of movies) {
        if (movie.watched) {
          if (futureReleaseChecked) {
            newMovieList.push(movie);
            processMovies(newMovieList);
          } else if (movie.future_release) {
            continue;
          } else {
            newMovieList.push(movie);
            processMovies(newMovieList);
          }
        }
      }
    } else if (downloadChecked) {
      for (let movie of movies) {
        if (movie.downloaded) {
          if (futureReleaseChecked) {
            newMovieList.push(movie);
            processMovies(newMovieList);
          } else if (movie.future_release) {
            continue;
          } else {
            newMovieList.push(movie);
            processMovies(newMovieList);
          }
        }
      }
    } else if (!futureReleaseChecked) {
      for (let movie of movies) {
        if (movie.future_release) {
          continue;
        } else {
          newMovieList.push(movie);
          processMovies(newMovieList);
        }
      }
    }

    // if (watch_checked && download_checked) {
    //   for (let movie of movies) {
    //     if (movie.watched && movie.downloaded) {
    //       if (futureReleaseChecked && movie.future_release == false){
    //         new_movie_list.push(movie);
    //         process_movies(new_movie_list);
    //         console.log('Hola!');
    //       } else {
    //       // new_movie_list.push(movie);
    //       process_movies(new_movie_list);
    //       }
    //     }
    //   }
    // }
    // else if (watch_checked && download_checked) {
    //   for (let movie of movies) {
    //     if (movie.watched && movie.downloaded) {
    //       new_movie_list.push(movie);
    //       process_movies(new_movie_list);
    //     }
    //   }
    // }
    //  else if (watch_checked && futureReleaseChecked) {
    //   for (let movie of movies) {
    //     if (movie.watched && movie.downloaded) {
    //       new_movie_list.push(movie);
    //       process_movies(new_movie_list);
    //     }
    //   }
    // } else if (futureReleaseChecked && download_checked) {
    //   for (let movie of movies) {
    //     if (movie.watched && movie.downloaded) {
    //       new_movie_list.push(movie);
    //       process_movies(new_movie_list);
    //     }
    //   }
    // } else if (futureReleaseChecked) {
    //   for (let movie of movies) {
    //     if (movie.future_release) {
    //       new_movie_list.push(movie);
    //       process_movies(new_movie_list);
    //     }
    //   }
    // }
    else {
      processMovies(defaultList);
    }
  }

  function checkboxAll() {
    if (document.getElementById("all").checked) {
      document.getElementById("watched").disabled = true;
      document.getElementById("downloaded").disabled = true;
      document.getElementById("future-release").disabled = true;

      processMovies(movies);
    } else {
      document.getElementById("watched").disabled = false;
      document.getElementById("downloaded").disabled = false;
      document.getElementById("future-release").disabled = false;
      watchedDownloaded();
    }
  }

  fetch("/movies")
    .then((response) => response.json())
    .then((data) => {
      movies = data;
      let newMovieList = [];
      for (let movie of movies) {
        if (!movie.watched) {
          newMovieList.push(movie);
        }
      }

      defaultList = newMovieList;
      processMovies(newMovieList);
    })
    .catch((error) => console.log(error));
</script>

{% endblock %} {% block body %}
<h1>Movie Watch List</h1>

<form action="/search" method="get">
  <input type="text" name="query" id="search-query" placeholder="Search..." required autofocus />
  <button type="submit" id="search-submit">Search</button>
</form>

<br />

<input type="checkbox" name="all" id="all" value="true" onclick="checkboxAll()"/>
<label for="all">Select All </label>

<input type="checkbox" name="watched" id="watched" value="true" onclick="watchedDownloaded()"/>
<label for="watched">Watched </label>

<input type="checkbox" name="downloaded" id="downloaded" value="true" onclick="watchedDownloaded()"/>
<label for="downloaded">Downloaded</label>

<input type="checkbox" name="future-release" id="future-release" value="true" checked onclick="watchedDownloaded()"/>
<label for="future-release">Future Release</label>
<br />

<table>
  <tr>
    <th id="th-id">#</th>
    <th id="th-movie">Movie</th>
    <th id="th-labels">Labels</th>
    <th id="th-year" title="Sort by Year">Year</th>
    <th id="th-tv" title="Sort by whether TV-Series or Not TV-Series">
      TV-Series
    </th>
  </tr>
  <tbody id="show-movies"></tbody>
</table>
<br />

<div class="container">
  <img src="{{ url_for('static',filename='img/watched.png')}}" alt="Image" />
  <span> - Watched Movies.</span>
</div>

<div class="container">
  <img src="{{ url_for('static',filename='img/downloaded.png')}}" alt="Image" />
  <span> - Downloaded Movies.</span>
</div>

<br />
<br />
<br />

<img src="{{ url_for('static', filename='img/index.png')}}" alt="image" />

<script>
  const year = document.getElementById("th-year");
  const tv = document.getElementById("th-tv");

  year.addEventListener("click", function () {
    if (order) {
      currentList.sort((a, b) => a.year - b.year);
      order = false;
    } else {
      currentList.sort((a, b) => b.year - a.year);
      order = true;
    }
    processMovies(currentList);
  });

  tv.addEventListener("click", function () {
    if (order) {
      currentList.sort((a, b) => {
        if (a.series === b.series) {
          return 0;
        }
        return a.series ? -1 : 1;
      });
      order = false;
    } else {
      currentList.sort((a, b) => {
        if (a.series === b.series) {
          return 0;
        }
        return a.series ? 1 : -1;
      });
      order = true;
    }
    processMovies(currentList);
  });
</script>

{% endblock %}
