{% extends 'base.html' %} {% block title %}Logged Out Page{% endblock %} {%
block head %}
<style>
    .container {
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1,h3,p {
    color: #4ec9b0;   
    color: #4ec9b0;
    margin-top: 20px;
  }

</style>

{% endblock %} {% block body %}

<div class="container">
  <h1>Welcome to our website!</h1>
  <h3>You are currently logged out.</h3>
  <p>Thank you for visiting.</p>
  <p>To Log In, Please re run the container.</p>
</div>

<img src="{{ url_for('static', filename='img/logged_out.png')}}" alt="Logged Out" />

<script>
  fetch("/logout", {method: "POST",})
    .then((response) => {
      console.log("Request sent to /logout");
    })
    .catch((error) => console.error("Error:", error));
</script>

{% endblock %}
